torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
pytorch-lightning==2.6.1
transformers==4.57.6
librosa==0.10.2.post1
soundfile==0.13.1
audioread==3.1.0
huggingface-hub==0.36.2
safetensors==0.7.0
aac-metrics==0.5.5
numpy==1.26.4
scipy==1.15.3
pandas==2.3.3
scikit-learn==1.7.2
PyYAML==6.0.3
wandb==0.26.1
matplotlib==3.10.9
lightning==2.6.1
timm==0.4.5